[Unit]
Description = GoBGPd
Wants = network.target
Before = network.target
After = network-pre.target

[Service]
ExecStart = /usr/bin/gobgpd -f /etc/gobgpd/gobgpd.toml -t toml
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
