[Unit]
Description = GoBGPd
After = network-online.target, zebra.service

[Service]
ExecStart = /usr/bin/gobgpd -f /etc/gobgpd/gobgpd.toml -t toml
Restart = always
Type = simple

[Install]
WantedBy=network-online.target
